.cards {
    padding: 0 1.5rem;
    margin-bottom: 4.5rem;
    &__icon {
        background: #f9461d;
        border-radius: 50%;
        color: #fff;
        font-size: 3rem;
        height: 8rem;
        line-height: 8rem;
        text-align: center;
        top: 0;
        width: 8rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    &__iconSmall {
        background: #f9461d;
        border-radius: 50%;
        color: #fff;
        font-size: 2rem;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        top: 0;
        width: 6rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    &:hover {
        transition: all .3s;
        transform: scale(1.01);
    }
    h4 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        text-transform: capitalize;
        font-weight: 600;
        color: #333;
    }
    &--text {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 28px;
    }
}

.blog {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 2.5rem;
    position: relative;
    &__img {
        margin-bottom: 2rem;
    }
    span {
        background: #f9461d;
        border: 0.5px solid #fff;
        font-size: 1.3rem;
        border-radius: 0.2rem;
        color: #fff;
        padding: 0.5rem 1rem;
        position: absolute;
        top: 1%;
        right: 1%;
    }
    &__body {
        padding: 0.5rem 2rem 1rem;
        h4 {
            font-size: 1.8rem;
            margin-bottom: 1rem;
            text-transform: capitalize;
            font-weight: 600;
            color: #333;
        }
    }
}